
.message-box.dark {
    background-color: #333;
}

.message-box {
    padding-top: 36px;
    padding-bottom: 36px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #f1f1f1;
}

.dark, .dark p, .dark td {
    color: #f1f1f1;
}

.relative {
    position: relative !important;
}

.bg-fill {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50%;
}

.fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    right: 0;
    bottom: 0;
    padding: 0 !important;
    margin: 0 !important;
}

/*  */

.dark, .dark p, .dark td {
    color: #f1f1f1;
}


.message-box .col, .message-box .col-inner, .message-box .row {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.last-reset *:last-child {
    margin-bottom: 0;
}

.text-right {
    text-align: right;
}

.col-inner {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

/*  */
.nav-anim>li, .col+.col [data-animate], [data-animate-delay="200"], [data-animate]+[data-animate] {
    transition-delay: .2s;
}

.text-right .button:last-of-type, .text-center .button:last-of-type {
    margin-right: 0 !important;
}

.last-reset *:last-child {
    margin-bottom: 0;
}
.button.is-outline, input[type='submit'].is-outline, input[type='reset'].is-outline, input[type='button'].is-outline {
    border: 2px solid currentColor;
}

.button.is-outline {
    line-height: 2.19em;
}
[data-animated="true"], .slider .is-selected [data-animated="true"], .row-slider.slider [data-animated="true"] {
    animation-delay: .1s;
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1 !important;
}

.is-larger {
    font-size: 1.3em;
}


.button, button, input[type='submit'], input[type='reset'], input[type='button'] {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: .03em;
    touch-action: none;
    cursor: pointer;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    border-radius: 0;
    margin-top: 0;
    text-shadow: none;
    line-height: 2.4em;
    min-height: 2.5em;
    padding: 0 1.2em;
    max-width: 100%;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
}

a {
    color: #334862;
    text-decoration: none;
}

.uppercase {
    color: #fff;
}